header {
  background-color: #7CFC00;
  border-radius: 25%; }
  header .logo {
    border-radius: 50%;
    image-orientation: center; }
  header h1 {
    color: #40E0D0;
    font-size: 128px -80px;
    display: flex;
    text-align: center;
    align-items: center; }