$color-cabezera: #66bde6;
$color-H1:#258d19;
$medida-letra:80px;
$transformacion: scale(2) translate(200px);

Header{
    .cabezera{
    background-color: $color-cabezera;
    display: flex;
    justify-items: center;
    color:$color-H1
    }
    .titulo {
     display: flex;
     justify-content: center;
     width: 100%;
     align-items: center;
     flex-wrap: wrap; 
     font-size: $medida-letra;
    }
    .logo-principal{
        display: flex;
        justify-items: center;
    }
    
    @media(max-width: 600px){
        .cabezera{
            display: flex;
            flex-direction: column; }
        .logo-principal{
            display: flex;
            flex-direction: column; }
}
}


Main{
    .carouseles{
        display: flex;
       margin-left: 25%;
    }
    .img-fluid{
         max-width: 100%;
        height: auto;
    }
    
    .img-fluid:hover{
        transform:$transformacion;
        transition: all 2s ;
    }
    
    .intro{
        margin: 50px ;
        font-size: $medida-letra - 32px;
    }

    
    .cordenadas{
        background-color: rgb(241, 233, 233);
        display: flex;
        align-items: center;
        font-size: $medida-letra - 64;
     }

     .mapa{
        display: flex;
        justify-content: center;
        padding: 5% 0%;
    }
}

footer{
    .container-redes{
        border: 2px solid red;
    }
    
    
    .contacto-centro:hover{
        transform: $transformacion - 200px;
        transition:all 4s ;
    }
    
    .contacto-izquierda:hover{
        transform: $transformacion;
        transition:all 4s ;
    }
    
    .contacto-derecha:hover{
        transform: $transformacion - 400px;
        transition:all 4s ;


}
}