*{
    margin: 0;
    padding: 0;
}


.cabezera-index{
    display: flex;
    justify-items: center;
    background-color: blue;
}





.titulo-index{
    font-size: 48px;
     display: flex;
     text-align: center;
     width: 100%;
     align-items: center;
     flex-wrap: wrap;    
     color: green;

}

.titulo-index:hover{
   
    animation: titulo-index 6s;

}
/* la idea es que haga solo un giro de 360 nada mas */
@keyframes titulo-index{
    0%{
        transform: rotate(0deg);
        transition: 2s;
    }
    25%{
        transform: rotate(90deg);
        transition: 2s;
    }

    50%{
        transform: rotate(180deg);
        transition: 2s;      
    }

    75%{
        transform: rotate(360deg);
        transition: 2s;  
    }   
    100%{
         transform: rotate(0deg);
         transition: 2s;
    }
}



.nav-item{
    background-color: gray;
    
}
/* -------------------------------------------- */
/* main */
.fotos-index{ 
   width: 50%;
    margin-left: 25%;
    gap: 5px; 
}

.fotos-index:hover{  
    transform: scale(2) translate(0px);
    transition: all 2s ;
}


/* texto con introductorio */
.intro{
    margin: 50px ;
    font-size: 32px;
}


/* Texto con las cordenadas del lugar */
.mapa{
    display: flex;
    justify-content: center;
    padding: 5% 0%;
}


.cordenadas{
   background-color: rgb(241, 233, 233);
   display: flex;
   align-items: center;
   font: 16px;
}

/* --------------------------------------------- */
/*      footer */


.container{
    border: 2px solid red;
}


.contacto-centro:hover{
    transform: scale(2) translate(0px);
    transition: all 4s ;
}

.contacto-izquierda:hover{
    transform: scale(2) translate(200px);
    transition: all 4s ;
}

.contacto-derecha:hover{
    transform: scale(2) translate(-200px);
    transition: all 4s ;
}

.numeros{
    text-align: center;
    background-color: black;
    color: white;
    font-size: 32px;
}

.contacto-instagram{
    display: flex;
    justify-content: left;
    background-color: rgb(238, 88, 138);
    font-size: 16px;    
}

.contacto-facebook{
    justify-content: left;
    background-color:  rgb(54, 116, 230);
    font-size: 16px;
}

/* ----------------------------------------------- */

/* pagina de fotos */

/* titulo de fotos  */
.cabezera-fotos{
    display: flex;
    justify-items: center;
    background-color: rgb(189, 172, 172);
    width: 100%;
}


.titulo-fotos{
    font-size:128px;
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    color: red;
}


.albun{
    display: grid;
    grid-template-rows: repeat(3,auto);
    grid-template-columns: repeat(2,1fr);
    border: 3px solid black;
    background-color: rgb(209, 139, 139);
    
}


.albun-titulo{
    font-size: 3em;
    grid-column: 1/3;
   text-align: center;
    flex-wrap: wrap;
}



.albun-fotos:hover{
    width: 95%;
    height: 95%;
    border: 3px solid black;
    margin-top: 2px;
    transform: scale(1.5);
    transition: all 2s;
}

/* ---------------------------------------------- */
/* pagina de servicios */


/* titulo de servicios */
.cabezera-servicios{
    display: flex;
    justify-content: center;
    background-color: rgb(84, 59, 224);     
 }


.titulo-servicios{
    font-size:128px;
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    color:rgb(199, 193, 193);
}


/* ----------------------------------------------- */
/* pagina de videos */

/* videos con css aplicado */
.cabezera-videos{
    display: flex;
    justify-content: center;
    background-color: rgb(163, 219, 117);
}


.titulo-videos{
    font-size:128px;
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    color: red;
}

.video{ 
    display: flex;
    justify-content: center;
  padding-top: 5%;
}

/* ----------------------------------------------- */
/* pagina de contactos */
.cabezera-contactos{
    display: flex;
    justify-items: center;
    background-color: rgb(144, 165, 204);
    width: 100%;   
}

.titulo-contactos{
    display: flex;
    justify-content: center;
   align-items: center;
    width: 100%;
    color: white;
    font-size: 128px;
    flex-wrap: wrap;
}


.contactos-medios{
    display: flex;
   justify-content: space-around;
    align-items: center;
    border: 4px solid gray;
    margin: 2%;   
}

.iconos-contactos{
    display: flex;
    justify-content: space-between;
    width: 25%;  
}

.referencia-numeros{
    display: flex;
    justify-content:center ;
    background-color:black;
    color: wheat;
    font-size: 32px;
    align-items: center;
    padding: 3% 10%;
}


.referencia-instagram{
    display: flex;
    justify-content:center ;
    background-color:  rgb(238, 88, 138);
    color: white;
    font-size: 32px;
    align-items: center;
    padding: 0% 5%;
}

.referencia-facebook{
    display: flex;
    justify-content:center ;
    background-color: blue;
    color: white;
    font-size: 32px;
    align-items: center;
    padding: 0% 5%
}

.referencia-instagram:hover{
    animation: botones 2s;
}

.referencia-facebook:hover{
    animation: botones 1s;
}
@keyframes botones {
    25% {
        border-radius: 25%;
        background-color: black;
    }
    50%{ 
        border-radius: 50%;
        background-color: black;
    }

    75%{
        border-radius: 75%;
        background-color: black;
    }
    
}

.footer-contactos{
   display: flex;
   justify-content: center;
   border: 4px solid gray;
   margin: 2%;
}