%centrado-item {
    display: flex;
    justify-items: center;
}


%centrado-con{
    display: flex;
    justify-content: center;
}




%centrado-vertical{
    display: flex;
     align-items: center;
}




